/* see rules partial for helpers */

html, 
body {
width: $full;
background: #222;
}
.header-contain {
position: relative;
width: $full;
min-height: 300px;
background: #000;
}
#video-container {
position: absolute;
}
#video-container {
top:0%;
left:0%;
height:100%;
width:100%;
overflow: hidden;
}
video {
position:absolute;
}
video.fillWidth {
width: 100%;
margin-top: -500px;
}
.logo-image {
position: relative;
z-index: 2;
padding-top: 4.5em;
}
#s.form-control {
border-radius: 0px;
}
.main-list {
background: #999;
}
.event-info {
color: #fff;
background: #555;
min-height: 200px;
padding: 10px;
border-bottom: 2px solid #000;
}
.event-img {
background: #999;
min-height: 200px;
padding: 0px;
border-bottom: 2px solid #000;
}
.event-img img {
width: 100%;
height: 100%;
object-fit: cover;
overflow: hidden;
}
.event-date {
background: #fff;
background-image: url('../img/funky-lines.png');
background-repeat: repeat;
min-height: 100px;
border-bottom: 2px solid;
font-weight: bold;
text-shadow: 2px 2px 2px;
text-transform: uppercase;
padding-top: 0px;
font-size: 3vh;
@include breakpoint (md) {
font-size: 40px;
min-height: 200px;
padding-top: 30px;
}}
.event-foot {
width: $full;
height: 40px;
transform: skew(-25deg);
-webkit-transform: skew(-25deg);
-moz-transform: skew(-25deg);
-o-transform: skew(-25deg);
background: #e9ecef;
text-align: center;
color:#fff;
margin-left: -10px;
-moz-box-shadow: inset 0 0 10px #000000;
-webkit-box-shadow: inset 0 0 10px #000000;
box-shadow: inset 0 0 10px #000000;
}
.main-event-right {
background: #e9ecef;
min-height: 250px;
width: $full;
border-bottom: 2px solid;
}
.main-event-foot-right {
width: $full;
height: 40px;
transform: skew(-15deg);
-webkit-transform: skew(-15deg);
-moz-transform: skew(-15deg);
-o-transform: skew(-15deg);
background: #ccc;
text-align:center;
color:#fff;
margin-left: -5px;
-moz-box-shadow: inset 0 0 10px #000000;
-webkit-box-shadow: inset 0 0 10px #000000;
box-shadow: inset 0 0 10px #000000;
}
.main-event-foot-left {
width: $full;
height: 40px;
transform: skew(15deg);
-webkit-transform: skew(15deg);
-moz-transform: skew(15deg);
-o-transform: skew(15deg);
background: #ccc;
text-align:center;
color:#fff;
margin-left: 5px;
-moz-box-shadow: inset 0 0 10px #000000;
-webkit-box-shadow: inset 0 0 10px #000000;
box-shadow: inset 0 0 10px #000000;
}
.main-event-left {
background: #e9ecef;
min-height: 250px;
width: $full;
border-bottom: 2px solid;
}
.main-event-date {
background: #d4edda;
font-weight: bold;
margin-top: -8px;
font-size: 18px;
min-height: 35px;
border-top: 2px solid #c3e6cb;
}
.main-event-desc {
background-image: url('../img/funky-lines.png');
background-repeat: repeat;
border-top: 2px solid #c3e6cb;
min-height: 200px;
margin-top: 0px;
margin-left: 15px;
margin-right: 15px;
@include breakpoint (md) {
margin-left: inherit;
margin-right: inherit;
}}
.main-event-img {
border-top: 2px solid #c3e6cb;
padding: 0px;
margin-left: 15px;
margin-right: 15px;
@include breakpoint (md) {
margin-right: -15px;
}}
.main-event-img img {
width: 100%;
height: 100%;
object-fit: cover;
overflow: hidden;
}
.rockshop-footer {
min-height: 200px;
width: $full;
background: #777;
}
