/* see rules partial for helpers */

html, 
body {
width: $full;
height: $full;
background: #222;
}
.header-contain {
width: $full;
min-height: 250px;
background: #000;
background-image: url('../img/rockshop-web-logo.png');
background-repeat: no-repeat;
background-position: center;
}
